body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}
p{
    margin: 0px!important;
    padding: 0px!important;
}
input{
    width: 100%;
}
/*navbar left*/
#panel {
    background-color: #000000;
    height: 100%;
    padding: 0px;
}

/*buttons*/

#logo-ref {
    display: block;
}

.button-div {
    height: 19vh;
    width: 100%;
}

.button {
    display: block;
    color: #FFFFFF;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.button:hover {
    background-color: #ed330e;
    text-decoration: none;
    color: #FFFFFF;

}

.button-img {
    height: 15vh;
    width: 100%;
    padding: 0.2vw 4vw 0vw 4vw;
}

.button-text {
    text-align: center;
    padding: 0vw;
    margin: 0px;
    font-size: 2vh;
}

/*logo*/
.logo-img {
    height: 20vh;
    padding: 0vw 2vw 0vw 2vw;
}

/*content ogolny*/

#main-page {
    height: 100vh;
    padding: 0px;
}

#your-games {
    display: block;
}



.content {
    padding: 0px;
    width: 100%;
    height: 100vh;
}

/*content listy gier*/
#game-list {
    display: block;
    height: 100vh;
    background-color: #cccccc;
    padding: 1vw;
}

.search-div {
    display: block;
    padding-bottom: 1vh;
    width: 100%;
}

#search {
    display: block;
    border: none;
    width: 100%;
    font-size: 1.5vw;
    background: url('search.png') no-repeat 10px 10px white;
}

#game-property {
    display: block;
    height: 100vh;
    background-color: #cccccc;
    padding: 0px;
}

/*lista i jej elementy*/
.list {
    width: 100%;
    overflow: auto;
    height: 90%;
    background-color: #FFFFFF;
    padding-bottom: 1vw;
}

.list-element {
    width: 100%;
    display: inline-flex;
    padding: 0.2vw 0.3vw;
    border-bottom: 2px solid #ed330e;
}

.list-element:hover {
    background-color: #ed330e;
}

.img-place {
    display: block;
    width: 20%;
}

.game-title {
    width: 50%;
    position: relative;
}

.edit-button-div{
    padding: 2.5vw 0.2vw;
    width: 15%;
}
.remove-button-div{
    padding: 2.5vw 0.2vw;
    width: 15%;
}
.manage-button{
    width: 100%;
}
.title {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
    font-size: 1.3vw;
    margin: 0px;
}

/*add game view game*/
#game-detail{
    height: 100%;
    overflow: auto;
}
.title-div{
    padding: 0.5vw 0px;
    text-align: center;
    font-size: 2vw;
}
.info-game-div{
    padding: 0px!important;
}
.info-row{
    width: 100%;
    display: inline-block;

}
.content-div{
    padding:0.5vw;
    width: 100%;
    display: inline-block;
}
.text-label{
    font-weight: bold;
    font-size: 1.2vw;
    padding: 2px 0px;
    text-align: right;
}
.input{
    font-size: 1.2vw;
    text-align: left;
    display: inline-block;
    padding: 2px 0.5vw!important;
}
.remove-pad{
    padding: 0px!important;
}
.gallery-img{
    padding-bottom: 0.5vw;
}
.galery-text {

}
.descript-input{
    width: 100%;
    height: 25vh;
}
.button-add{
    width:100%;
    font-size: 1.3vw;
}
.platform-label{
    font-size: 0.8vw;
    margin: 0px!important;
    width: 20%;
    float: right;
}
.type-label{
    font-size: 0.8vw;
    margin: 0px!important;
    width: 20%;
    float: right;
}
.platform-labels{
    width: 100%;
    font-size: 0.8vw;
    margin: 0;
}

/*dropdown*/
.select-box {
    position: relative;
    font-weight: normal;

}

.select-box select {
    width: 100%;
}

.multiselect {
    font-size: 1.2vw;
    width: 100%;
    padding: 0px 0.5vw!important;
}
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}
.options {
    display: none;
    border: hidden;
    position: absolute;
    background-color: #cccccc;
    z-index: 1;
    width: 95%;
    opacity: 0.8;
}
.dropdowndiv:hover .drop-span {
    display: block;
}

.dropdowndiv {
    padding: 0px !important;
    position: relative;
    display: inline-block;
}
.empty-span {
    display: none;
    text-align: center;
    font-size: 1.1vw;
}
