<!DOCTYPE html>
<html lang="pl" ng-app="platformadd">

<head >
    <base href="/">
    <title>Games</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="css/styles.css" rel="stylesheet" />

    <!-- switch tabs-->

    <!-- Configure SystemJS -->
    <script src="systemjs.config.js"></script>
    <script src="angularjs/addPlatformController.js"></script>

</head>

<body ng-controller="platformaddcontroller">
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="panel">
    <a id="logo-ref"><img src="css/logo.png" class="logo-img"></a>
    <div class="button-div">
        <a class="button" id="list" href="index.html">
            <img class="button-img" src="css/gamesicon.png">
            <p class="button-text">Szczegóły</p>
        </a>
    </div>
    <div class="button-div">
        <a class="button" id="add" href="add-game.html">
            <img class="button-img" src="css/plus.png">
            <p class="button-text">Dodaj grę</p>
        </a>
    </div>
    <div class="button-div">
        <a class="button" id="listplat" href="platforms.html">
            <img class="button-img" src="css/platforms.png">
            <p class="button-text">Platformy</p>
        </a>
    </div>
    <div class="button-div">
        <a class="button" id="addcplat" href="addplatform.html">
            <img class="button-img" src="css/platforms-add.png">
            <p class="button-text">Dodaj platformę</p>
        </a>
    </div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="game-list">
    <div class="search-div">
        <input type="text" name="search" placeholder="Search" id="search" ng-model="stext">
    </div>
    <div class="list">
        <div ng-repeat="platform in platforms filter:stext" ng-include="getTemplate(platform)">

        </div>
    </div>


</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="main-page">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="add-games">
        <form name="platformForm" ng-submit="add(platform)" novalidate>
            <div class="content-div">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-label">
                        <p>Nazwa platformy:</p>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 input">
                        <input class="name-input" ng-model="platform.name" name="gameName" required class="edit-input"
                               id="name-input" type="text" >
                        <span class="empty-span" id="name-empty-span">Wpisz nazwe!</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-label">
                        <p>Href:</p>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 input">
                        <input class="href-input" ng-model="platform.href" name="gameHref" required class="edit-input"
                               id="href-input" type="text" >
                        <span class="empty-span" id="href-empty-span">Wpisz link!</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 title-div" ></div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 title-div" >
                        <button type="submit">Dodaj</button>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 title-div" ></div>

                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/ng-template" id="display">

    <div class="list-element" ng-click="inspectPlatform(platform)">
        <div class="img-place">
            <img id="cover-img-list" src="{{platform.href}}">
        </div>
        <div class="game-title">
            <span class="title" id="name-list">{{platform.name}}</span>
        </div>

    </div>

</script>

</body>

</html>