<!DOCTYPE html>
<html lang="pl" ng-app="your-games">

<head>
    <base href="/">
    <title>Games</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <link href="css/styles.css" rel="stylesheet"/>
    <!-- switch tabs-->
    <script src="main.js"></script>
    <script src="angularjs/gameController.js"></script>

    <!-- Configure SystemJS -->

</head>

<body ng-controller="listcontroller" >
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="panel">
    <a id="logo-ref"><img src="css/logo.png" class="logo-img"></a>
    <div class="button-div">
        <a class="button" id="list" href="index.html">
            <img class="button-img" src="css/gamesicon.png">
            <p class="button-text">Szczegóły</p>
        </a>
    </div>
    <div class="button-div">
        <a class="button" id="add" href="add-game.html">
            <img class="button-img" src="css/plus.png">
            <p class="button-text">Dodaj grę</p>
        </a>
    </div>
    <div class="button-div">
        <a class="button" id="listplat" href="platforms.html">
            <img class="button-img" src="css/platforms.png">
            <p class="button-text">Platformy</p>
        </a>
    </div>
    <div class="button-div">
        <a class="button" id="addcplat" href="addplatform.html">
            <img class="button-img" src="css/platforms-add.png">
            <p class="button-text">Dodaj platformę</p>
        </a>
    </div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="game-list">
    <div class="search-div">
        <input type="text" name="search" placeholder="Search" id="search" ng-model="stext">
    </div>
    <div class="list">
        <div ng-repeat="game in games | filter:stext" ng-include="getTemplate(game)">

        </div>
    </div>

</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="main-page">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="game-detail">

        <div class="content-div ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-div">
                <p id="nazwa"></p>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 info-game-div">

                <div class="info-row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                        <p>Premiera:</p>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 input">
                        <p id="premiera"></p>
                    </div>
                </div>
                <div class="info-row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                        <p>Platforma:</p>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 input">
                        <p id="platforma"></p>
                    </div>
                </div>
                <div class="info-row" style="display: none">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                        <p>Gatunek:</p>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 input">
                        <p id="gatunek"></p>
                    </div>
                </div>
                <div class="">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                        <p>Język:</p>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 input">
                        <p id="jezyk"></p>
                    </div>
                </div>
                <div class="info-row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                        <p>Producent:</p>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 input">
                        <p id="producent"></p>
                    </div>
                </div>
                <div class="info-row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                        <p>Ocena:</p>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 input">
                        <p id="ocena"></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img id="cover-img">
            </div>
        </div>
        <div class="content-div">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-label">
                    <p>Opis:</p>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 input">
                    <p id="opis">
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/ng-template" id="display">

    <div class="list-element" id={{game.id}} ng-click="inspectGame(game)" >
        <div class="img-place">
            <img id="cover-img-list" src="{{game.imgsrc}}">
        </div>
        <div class="game-title">
            <span class="title" id="name-list">{{game.name}}</span>
        </div>
        <div class="edit-button-div">
            <button class="manage-button" id="edit-button" ng-click="edit(game)">
                <img src="css/edit.png">
            </button>
        </div>
        <div class="remove-button-div">
            <button class="manage-button" id="delete-button" ng-click="delete(game)">
                <img src="css/remove.png">
            </button>
        </div>
    </div>

</script>
<script type="text/ng-template" id="edit">
    <div class="content-div ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-div" >
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 title-div" ></div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 title-div" >
                <input ng-model="game.name" name="gameName" required class="edit-input" id="name-input"
                       type="text">
                <span ng-show="gameForm.gameName.$touched && gameForm.gameName.$invalid" class="error-span"
                      id="name-error-span">Wpisz nazwę!</span>
                <span class="empty-span" id="name-empty-span">Wpisz nazwę!</span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 title-div" ></div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 info-game-div">
            <div class="info-row" >
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                    <p>Premiera:</p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 input">
                    <input ng-model="game.premiere" name="gamePremiere" required class="edit-input" id="premiere-input"
                           type="date" placeholder="Data">
                    <span ng-show="gameForm.gamePremiere.$touched && gameForm.gamePremiere.$invalid" class="error-span"
                          id="premiere-error-span">Wpisz date premiery!</span>
                    <span class="empty-span" id="premiere-empty-span">Wpisz datę premiery!</span>
                </div>
            </div>
            <div class="info-row" >
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                    <p>Platforma:</p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 dropdowndiv">
                    <div class="multiselect" id="multiselect-platform-add">
                        <div class="select-box" >
                            <select id="gamePlatform">
                                <option>Platformy</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div class="options" id="platform-options-add">
                            <label class="platform-labels" ng-repeat="pla in platforms" for="{{pla}}-add"> {{pla.name}}
                                <input class="platform-label" type="checkbox" id="{{pla}}-add"
                                       value="{{pla.name}}"/>
                            </label>
                        </div>
                    </div>
                    <span class="empty-span" id="platform-empty-span">Wybierz platformę!</span>
                </div>
            </div>
            <div class="" >
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                    <p>Język:</p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 dropdowndiv">
                    <div class="multiselect" id="multiselect-lang-add">
                        <div class="select-box" >
                            <select id="lang-input" ng-model="game.languageg" required name="gameLang">
                                <option value="" selected hidden>Język</option>
                                <option  ng-repeat="languages in languagesg" id={{languages}}-add value="{{languages}}">
                                    {{languages}}
                                </option>
                            </select>
                        </div>
                        <span ng-show="gameForm.gameLang.$touched && gameForm.gameLang.$invalid"
                              class="error-span" id="lang-error-span">Wybierz język!</span>
                        <span class="empty-span" id="lang-empty-span">Wybierz język!</span>


                    </div>
                </div>
            </div>
            <div class="info-row" >
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                    <p>Producent:</p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 input">
                    <input ng-model="game.producer" name="gameProducer" required class="edit-input" id="producer-input"
                           type="text" placeholder="Nazwa">
                    <span ng-show="gameForm.gameProducer.$touched && gameForm.gameProducer.$invalid" class="error-span"
                          id="producer-error-span">Wpisz nazwę!</span>
                    <span class="empty-span" id="producer-empty-span">Wpisz producenta!</span>
                </div>
            </div>
            <div class="info-row" >
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                    <p>Ocena:</p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 dropdowndiv">
                    <div class="multiselect" id="multiselect-rating-add">
                        <div class="select-box" >
                            <select id="rating-input" ng-model="game.rating" required name="gameRate">
                                <option value="" selected hidden>Ocena</option>
                                <option  ng-repeat="rate in rating" id={{rate}}-add value="{{rate}}">
                                    {{rate}}
                                </option>
                            </select>
                        </div>
                        <span ng-show="gameForm.gameProducer.$touched && gameForm.gameProducer.$invalid" class="error-span"
                              id="rating-error-span">Wpisz nazwę!</span>
                        <span class="empty-span" id="rating-empty-span">Wybierz Ocenę!</span>
                    </div>
                </div>
            </div>
            <div class="info-row" >
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-label">
                    <p>Link do okładki:</p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 dropdowndiv">
                    <input ng-model="game.imgsrc" name="gameImg" required class="edit-input" id="img-input"
                           type="text" placeholder="">
                    <span ng-show="gameForm.gameImg.$touched && gameForm.gameImg.$invalid" class="error-span"
                          id="img-error-span">Podaj link!</span>
                    <span class="empty-span" id="img-empty-span">Podaj link!</span>

                </div>
            </div>
        </div>

    </div>
    <div class="content-div">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-label">
                <p>Opis:</p>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 input">
                <input class="descript-input" ng-model="game.description" name="gameDescript" required class="edit-input" id="desc-input"
                       type="text" >
                <span class="empty-span" id="desc-empty-span">Wpisz opis!</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 title-div" ></div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 title-div" >
                <button ng-click="saveEdited(game.id)">Potwierdź</button>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 title-div" ></div>

        </div>
    </div>
</script>

</body>

</html>



